<div class="card flex justify-content-center align-items-center">
  <div class="formgrid grid">
    <div></div>
    <form [formGroup]="formEdit" (ngSubmit)="onSubmit()" class="">
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          name="fullName"
          formControlName="fullName"
          class="col-fixed"
          pInputText
          class="p-inputtext-lg"
        />
        <label for="float-input">Full Name</label>
      </span>
      <br />
      <br />

      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          name="email"
          formControlName="email"
          class="col-fixed"
          pInputText
          class="p-inputtext-lg"
        />
        <label for="float-input">Email</label>
      </span>
      <br />
      <br />
      <button pButton class="w-full text-center">Edit Profile</button>
    </form>
  </div>
</div>
