<div class="card flex justify-content-center align-items-center h-screen">
  <div class="formgrid grid">
    <form
      [formGroup]="formLogin"
      (ngSubmit)="onSubmit()"
      class="justify-content-center"
    >
      <p-image
        class="logo"
        width="250px"
        src="../../assets/images/logo.png"
        alt="logo"
        (click)="playAudio()"
      ></p-image>
      <br />
      <br />

      <span class="p-float-label col-fixed">
        <input
          type="text"
          name="email"
          formControlName="email"
          pInputText
          class="p-inputtext-lg w-full"
        />
        <label for="float-input">Email</label>
      </span>
      <br />
      <br />

      <span class="p-float-label col-fixed">
        <input
          type="password"
          name="password"
          formControlName="password"
          class="p-inputtext-lg w-full"
          pInputText
        />
        <label for="float-input">Password</label>
      </span>
      <br />
      <br />
      <button pButton class="text-center w-full">Login</button>
      <p class="col-fixed" style="color: white">
        Click here to <a routerLink="../register">Register</a>
      </p>
    </form>
  </div>
</div>
