<nav
  class="card flex flex-wrap justify-content-center align-items-center v-screen"
>
  <div class="v-screen">
    <a *ngIf="logOut" routerLink="">Home</a>
    <a *ngIf="logOut" routerLink="edit-profile">Profile</a>
    <a *ngIf="logOut" (click)="onLogOut()">Log Out</a>
  </div>
</nav>
<router-outlet></router-outlet>
