a {
  text-decoration: none;
  color: aliceblue;
  margin: 5%;
  display: inline;
}
.hide {
  display: none;
}
.v-screen {
  width: 100%;
  overflow: none;
  justify-content: center;
  display: flex;
  justify-content: center;
}
.v-screen a {
  cursor: pointer;
}
