<div class="flex justify-content-center">
  <div class="grid">
    <div class="card">
      <div class="line-height-3 card-container">
        <div
          id="PanelUser"
          class="overflow-auto surface-overlay p-3 border-blue-500 border-1 border-round"
          style="height: 400px; width: 100px"
        >
          <li
            class="cursor-pointer"
            *ngFor="let item of users?.data"
            (click)="sendId(item?.id, item?.name)"
          >
            <p *ngIf="item?.id != receiver">{{ item?.name }}</p>
          </li>
        </div>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="line-height-5 card-container">
          <div
            #scrollMe
            class="overflow-auto surface-overlay border-blue-500 p-3 border-1 border-round"
            style="height: 354px; width: 500px"
            id="chatKami"
          >
            <ul
              *ngFor="let item of chats?.data"
              style="
                display: block;
                list-style-type: disc;
                margin-block-start: 0em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 0px;
              "
            >
              <li class=" {{ classSender(item?.sender) }} ">
                <a
                  style="color: red; cursor: pointer"
                  (click)="deleteChat(item?.id)"
                  >x</a
                >
                {{ item?.message }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form [formGroup]="chatForm" (submit)="onSend(this.sender)">
        <input
          id="InputText"
          type="text"
          pInputTextarea
          formControlName="chatText"
          style="width: 403px; height: 45px"
        />
        <p-button type="submit">Submit</p-button>

        <div>
          <p>
            You're chatting with
            {{ this.nameSender ? this.nameSender : "no one" }}
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
