.kanan {
  box-sizing: border-box;
  user-select: text;
  text-align: right;
  justify-self: flex-end;
}
.kiri {
  box-sizing: border-box;
  user-select: text;
  text-align: left;
  justify-self: flex-start;
}

li {
  list-style: none;
}
#chatKami,
#PanelUser,
#InputText {
  background-color: rgba(196, 196, 196, 0.5);
}
