<div class="card flex justify-content-center align-items-center h-screen">
  <div class="formgrid grid">
    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <br />

      <span class="p-float-label">
        <input
          type="text"
          name="fullName"
          formControlName="fullName"
          class="col-fixed"
          pInputText
          class="p-inputtext-lg"
        />
        <label for="float-input">Full Name</label>
      </span>
      <!-- <br />
      <br />
      <br /> -->

      <!-- <p-calendar
        formControlName="birthDay"
        placeholder="Birth Day"
        [showButtonBar]="true"
        [showTransitionOptions]="'400ms'"
        [hideTransitionOptions]="'300ms'"
        class="calendar"
      ></p-calendar> -->
      <br />
      <!-- <p-radioButton
        class="col-fixed"
        type="radio"
        id="male"
        formControlName="isMale"
        value="true"
      ></p-radioButton>
      <label class="col-fixed" for="age1">Male</label>
      <p-radioButton
        class="col-fixed"
        type="radio"
        id="female"
        formControlName="isMale"
        value="false"
        >Female</p-radioButton
      >
      <label class="col-fixed" for="age1">Female</label><br /> -->
      <!-- <br />
      <br />
      <br /> -->

      <span class="p-float-label">
        <input
          type="text"
          name="email"
          formControlName="email"
          class="col-fixed"
          pInputText
          class="p-inputtext-lg"
        />
        <label for="float-input">Email</label>
      </span>
      <br />
      <span class="p-float-label">
        <input
          type="password"
          name="password"
          formControlName="password"
          class="col-fixed"
          pInputText
          class="p-inputtext-lg"
        />
        <label for="float-input">Password (min 6 chars)</label>
      </span>
      <br />

      <span class="p-float-label">
        <input
          type="password"
          name="confirmPassword"
          formControlName="confirmPassword"
          class="col-fixed"
          pInputText
          class="p-inputtext-lg"
        />
        <label for="float-input">Confirm Password</label>
      </span>
      <br />
      <button pButton class="w-full">Register</button>
      <br />
      <p>Click here to <a routerLink="../login">Login</a></p>
    </form>
  </div>
</div>
